<div class="footer-container padding-lv4-ver">
  <div class="container">
    <div class="text-center">
      <h4 class="section-title margin-lv4-bottom">Nuestro Blog</h4>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-6 blog-entry">
        <a href="#"><img src="/images/home/mybusiness-pic.png" alt="" class="img-responsive"></a>
        <h5 class="padding-lv3-top"><a href="#">Entrada del blog</a></h5>
        <p class="font-size-xs">
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes.
        </p>
        <a href="#" class="btn btn-link btn-sm">Seguir leyendo...</a>
      </div>
      <div class="col-sm-3 col-xs-6 blog-entry">
        <a href="#"><img src="/images/home/mybusiness-pic.png" alt="" class="img-responsive"></a>
        <h5 class="padding-lv3-top"><a href="#">Entrada del blog</a></h5>
        <p class="font-size-xs">
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes.
        </p>
        <a href="#" class="btn btn-link btn-sm">Seguir leyendo...</a>
      </div>
      <div class="col-sm-3 col-xs-6 blog-entry">
        <a href="#"><img src="/images/home/mybusiness-pic.png" alt="" class="img-responsive"></a>
        <h5 class="padding-lv3-top"><a href="#">Entrada del blog</a></h5>
        <p class="font-size-xs">
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes.
        </p>
        <a href="#" class="btn btn-link btn-sm">Seguir leyendo...</a>
      </div>
      <div class="col-sm-3 col-xs-6 blog-entry">
        <a href="#"><img src="/images/home/mybusiness-pic.png" alt="" class="img-responsive"></a>
        <h5 class="padding-lv3-top"><a href="#">Entrada del blog</a></h5>
        <p class="font-size-xs">
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes.
        </p>
        <a href="#" class="btn btn-link btn-sm">Seguir leyendo...</a>
      </div>
    </div>
    <hr>
    <div class="footer row">
      <div class="col-sm-3 margin-lv4-bottom">
        <a href="#"><img src="/images/digi-cert.png" width="100" alt=""></a>
      </div>
      <div class="col-sm-3">
        <h6>Principal</h6>
        <ul class="list-unstyled">
          <li><a href="/">Inicio</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li><a href="/registro-de-licencia">Registro de Licencia</a></li>
          <li><a href="/ayuda">Ayuda y Soporte</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h6>Productos</h6>
        <ul class="list-unstyled">
          <li><a href="/productos/mybusiness">MyBusiness POS</a></li>
          <li><a href="/productos/facturacion-electronica">Facturación electrónica</a></li>
          <li><a href="/productos/tiempo-aire">Tiempo Aire</a></li>
          <li><a href="/productos/pos-tools">POS Tools</a></li>
          <li><a href="/productos/contabilidad-electronica">Contabilidad electrónica</a></li>
          <li><a href="/productos/bill-pocket">Bill Pocket</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h6>Otros</h6>
        <ul class="list-unstyled">
          <li><a href="/cursos">Cursos</a></li>
          <li><a href="/eventos">Eventos</a></li>
          <li><a href="/productos/facturacion-electronica/autofacturacion">Autofacturacion</a></li>
          <li><a href="/descargas">Descargas</a></li>
          <li><a href="/donde-comprar/distribuidores">Distribuidores</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="text-center">©2017 MyBusiness S.A de C.V.</p>
  </div>
</div>
