<div class="footer-container padding-lv4-ver">
  <div class="container">
    <div class="text-center">
      <h4 class="section-title margin-lv4-bottom">Nuestro Blog</h4>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-6 blog-entry">
        <a href="#"><img src="images/home/mybusiness-pic.png" alt="" class="img-responsive"></a>
        <h5 class="padding-lv3-top"><a href="#">Entrada del blog</a></h5>
        <p class="font-size-xs">
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes.
        </p>
        <a href="#" class="btn btn-link btn-sm">Seguir leyendo...</a>
      </div>
      <div class="col-sm-3 col-xs-6 blog-entry">
        <a href="#"><img src="images/home/mybusiness-pic.png" alt="" class="img-responsive"></a>
        <h5 class="padding-lv3-top"><a href="#">Entrada del blog</a></h5>
        <p class="font-size-xs">
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes.
        </p>
        <a href="#" class="btn btn-link btn-sm">Seguir leyendo...</a>
      </div>
      <div class="col-sm-3 col-xs-6 blog-entry">
        <a href="#"><img src="images/home/mybusiness-pic.png" alt="" class="img-responsive"></a>
        <h5 class="padding-lv3-top"><a href="#">Entrada del blog</a></h5>
        <p class="font-size-xs">
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes.
        </p>
        <a href="#" class="btn btn-link btn-sm">Seguir leyendo...</a>
      </div>
      <div class="col-sm-3 col-xs-6 blog-entry">
        <a href="#"><img src="images/home/mybusiness-pic.png" alt="" class="img-responsive"></a>
        <h5 class="padding-lv3-top"><a href="#">Entrada del blog</a></h5>
        <p class="font-size-xs">
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes.
        </p>
        <a href="#" class="btn btn-link btn-sm">Seguir leyendo...</a>
      </div>
    </div>
    <hr>
    <div class="footer row">
      <div class="col-sm-3 margin-lv4-bottom">
        <a href="#"><img src="/images/digi-cert.png" width="100" alt=""></a>
      </div>
      <div class="col-sm-3">
        <h6>Principal</h6>
        <ul class="list-unstyled">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Cursos</a></li>
          <li><a href="#">Nuestros Clientes</a></li>
          <li><a href="#">Soporte</a></li>
          <li><a href="#">Eventos</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h6>Productos</h6>
        <ul class="list-unstyled">
          <li><a href="#">MyBusiness POS</a></li>
          <li><a href="#">Factura electrónica</a></li>
          <li><a href="#">Contabilidad electrónica</a></li>
          <li><a href="#">Bill Pocket</a></li>
          <li><a href="#">Tiempo Aire</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h6>Principal</h6>
        <ul class="list-unstyled">
          <li><a href="#">Acerca de</a></li>
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Contáctanos</a></li>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Aviso legal</a></li>
          <li><a href="#">Política de cookies</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="text-center">©2017 MyBusiness S.A de C.V.</p>
  </div>
</div>
