    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand margin-lv2-right" href="/"><img src="/images/logo.png" width="176" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="/productos" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-icon">
                <li>
                  <a href="/productos/mybusiness">
                    <img src="/images/icons/mybusiness.png" width="32" alt="" class="hidden-xs">
                    <span>MyBusiness</span>
                  </a>
                </li>
                <li>
                  <a href="/productos/facturacion-electronica">
                    <img src="/images/icons/factura.png" width="29" alt="" class="hidden-xs">
                    <span>Facturación electrónica</span>
                  </a>
                </li>
                <li>
                  <a href="/productos/tiempo-aire">
                    <img src="/images/icons/tiempo-aire.png" width="32" alt="" class="hidden-xs">
                    <span>Venta de tiempo aire</span>
                  </a>
                </li>
                <li>
                  <a href="/productos/servicios-en-la-nube">
                    <img src="/images/icons/pos-tools.png" width="28" alt="" class="hidden-xs">
                    <span>Servicios en la nube</span>
                  </a>
                </li>
                <li>
                  <a href="/productos/pos-tools">
                    <img src="/images/icons/pos-tools.png" width="28" alt="" class="hidden-xs">
                    <span>Pos Tools</span>
                  </a>
                </li>
                <li>
                  <a href="/productos/contabilidad-electronica">
                    <img src="/images/icons/contabilidad.png" width="22" alt="" class="hidden-xs">
                    <span>Contabilidad electrónica</span>
                  </a>
                </li>
                <li>
                  <a href="/productos/bill-pocket">
                    <img src="/images/icons/bill-pocket.png" width="29" alt="" class="hidden-xs">
                    <span>Bill Pocket</span>
                  </a>
                </li>
              </ul>
            </li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/registro-de-licencia">Registro de Licencia</a></li>
            <li><a href="/ayuda">Ayuda y soporte</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="#" class="visible-xs">Iniciar sesión</a></li>
          </ul>

          <div class="navbar-form navbar-right">
            <a href="#" class="btn btn-primary hidden-xs">Iniciar sesión</a>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

