---
layout: default
---

<div class="default-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="page-title">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">{{ page.title | escape }}</li>
          </ol>
          <h1 class="unmargin-top">{{ page.title | escape }}</h1>
        </div>
        <div class="white-box">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  <div class="section-more-info">
    <h4>
      ¿Tienes dudas o necesitas más información?
      <span class="light-title">
        <a href="#">Llamanos</a>,
        <a href="#">escríbenos</a> o
        <a href="#">chatea con un asesor</a>
      </span>
    </h4>
  </div>
</div>
